@model  List<WebApplication1.Models.Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .cou:hover {
        background-color: #2f4e73;
        color: white;
        font-weight: 500;
    }

    .cou a:hover {
        background-color: #2f4e73;
        color: white;
        font-weight: 500;
    }

    .auth-form-input {
        width: 100%;
    }

    .auth-container input {
        margin-top: 20px;
    }

    .tt div {
        margin-left: 20px;
        margin-right: 20px;
    }


    #card {
        position: relative;
        top: 110px;
        width: 320px;
        display: block;
        margin: auto;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
    }

    #upper-side {
        padding: 2em;
        background-color: #8BC34A;
        display: block;
        color: #fff;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    #checkmark {
        font-weight: lighter;
        fill: #fff;
        margin: -3.5em auto auto 20px;
    }

    #status {
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1em;
        margin-top: -.2em;
        margin-bottom: 0;
    }

    #lower-side {
        padding: 2em 2em 5em 2em;
        background: #fff;
        display: block;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    #message {
        margin-top: -.5em;
        color: #757575;
        letter-spacing: 1px;
    }

    #contBtn {
        position: relative;
        top: 1.5em;
        text-decoration: none;
        background: #8bc34a;
        color: #fff;
        margin: auto;
        padding: .8em 3em;
        -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
        -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
        box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
        border-radius: 25px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }

        #contBtn:hover {
            -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
            -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
            box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
        }

    .shop1 {
        color: black;
    }
</style>

<h2 style="padding:100px 0 0 0;color:#2f4e73">Cart</h2>
<span>Do you have a promotional code? <a data-bs-toggle="modal" data-bs-target="#exampleModal2" style="color:brown"> Click to enter the code</a></span>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="text-align:center;width:100%;">Your Code</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="width:100%">
                <input type="text" style="width:100%" class="auth-form-input" placeholder="Enter your code... ">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>

</div>
<hr />
<div class="row mt-2">
    <div class="col-3" style="font-weight:bold;padding-left:30px;">Product</div>
    <div class="col-3" style="font-weight:bold">Price</div>
    <div class="col-3" style="font-weight:bold">Quantity</div>
    <div class="col-2" style="font-weight:bold">Total</div>
</div>
<hr />
@foreach (var c in Model)
{
    <div class="row pb-3">
        <div class="col-3" style="font-weight:200">
            <a href="@Url.Action("DeleteCart", "Products", new {ProductId = c.ProductId})">
                f               <i class="fa-regular fa-circle-xmark"></i>
            </a>
            <img src="@c.Image" alt="Iphone" style="width:40px;">
            <span>@c.ProductName</span>
        </div>
        <div class="col-3" style="font-weight:700;color:brown;">@c.Price$</div>
        <div class="col-3" style="font-weight:200">
            <input class="quantityInput" type="number"
                   value="@c.Quantity" data-productid="@c.ProductId" />
        </div>
        <div class="col-2" style="font-weight:700;color:brown;">@(c.Price * c.Quantity)$</div>
    </div>
}

<hr />
<div class="row">
    <div class="col-2 cou" style=" border:solid 1px; border-radius:20px; margin-left:20px;">
        <i class="fa-solid fa-arrow-left"></i>
        <a href="@Url.Action("DeleteAllCart", "Products")" style="text-decoration:none; " class="shop1">
            <span style="font-weight: 400; "> Continue shopping </span>
        </a>
    </div>

</div>

<div class="row mt-5">
    <div class="col-6 " style="border-top:1px solid black;margin-left:20px;">
        <form class="login-form">
            <div class="mt-3">
                <span style="font-weight:bold;font-size:18px;">
                    BILLING INFORMATION
                </span>
            </div>
            <div class="auth-container row">

                <input type="text" class="auth-form-input" placeholder="Your Name">
                <input type="text" class="auth-form-input" placeholder="Delivery Address">
                <input type="number" class="auth-form-input" placeholder="Phone Number">
                <input type="text" class="auth-form-input" placeholder="Email">

            </div>
            <div class="mt-3">
                <span style="font-weight:bold;font-size:18px;">
                    OTHER INFORMATION
                </span>
                <div class="auth-container row">
                    <input type="text" class="auth-form-input" placeholder="Relative's Name">
                    <input type="number" class="auth-form-input" placeholder="Relative's Phone Number">
                </div>

            </div>
        </form>
    </div>

    <div class="col-5 tt" style="border: 2px solid #e35d6a; margin-left: 50px;">
        <div class="mt-3 mb-2">
            <span style="font-weight:bold;font-size:18px;">
                YOUR ORDER
            </span>
        </div>
        <div class="row">
            <div class="col-6" style="font-weight:600">Product</div>
            <div class="col-2" style="font-weight:600">Total</div>
        </div>
        @foreach (var c in Model)
        {
            <div class="row mt-2 mb-2" style="border-top:1px solid black">
                <div class="col-6" style="font-weight:200">@c.ProductName</div>
                <div class="col-2" style="font-weight:500;color:brown;">@(c.Price * c.Quantity)$</div>
            </div>
        }

        <div class="row" style="border-top:1px solid #a6a6a6">
            <div class="col-6" style="font-weight:600">Transport Fee</div>
            <div class="col-2" style="font-weight: 500; color: brown;">2$</div>
        </div>
        <div class="row" style="border-top:1px solid #a6a6a6">
            <div class="col-6" style="font-weight:600">Discount</div>
            <div class="col-2" style="font-weight: 500; color: brown;">-8$</div>
        </div>

        <div class="row" style="border-top:1px solid black">
            <div class="col-6" style="font-weight:600;font-size:17px;">Total Payment</div>
            <div class="col-2" style="font-weight: 600; color: brown; font-size: 17px;">@(ViewBag.TotalAmount - 6)$</div>
        </div>
        <div class="mt-3">
            <div>
                <input name="tra" type="radio" placeholder="Direct payment" checked /><span style="font-weight: 600; margin-left: 5px;">Direct payment</span>
            </div>
            <div>
                <input name="tra" type="radio" placeholder="Transfer payment" /><span style="font-weight:600;margin-left:5px;">Transfer payment</span>
            </div>
        </div>
        <div class="mt-3">
            <span style="font-size:13px;">Make payment now to receive the latest offers. Please enter your ORDER CODE in the transfer content. Your order will be confirmed after payment is completed.</span>

        </div>
        <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-3 cou" style=" border:solid 1px; border-radius:20px; margin-left:20px;" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                <div style="text-align:center;">
                    <i class="fa-solid fa-wallet"></i>
                    <span style="font-weight: 400; ">
                        PAY
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">

        <div id='card' class="animated fadeIn modal-content">
            <div id='upper-side'>
                <?xml version="1.0" encoding="utf-8" ?>
                <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
                <path d="M131.583,92.152l-0.026-0.041c-0.713-1.118-2.197-1.447-3.316-0.734l-31.782,20.257l-4.74-12.65
	c-0.483-1.29-1.882-1.958-3.124-1.493l-0.045,0.017c-1.242,0.465-1.857,1.888-1.374,3.178l5.763,15.382
	c0.131,0.351,0.334,0.65,0.579,0.898c0.028,0.029,0.06,0.052,0.089,0.08c0.08,0.073,0.159,0.147,0.246,0.209
	c0.071,0.051,0.147,0.091,0.222,0.133c0.058,0.033,0.115,0.069,0.175,0.097c0.081,0.037,0.165,0.063,0.249,0.091
	c0.065,0.022,0.128,0.047,0.195,0.063c0.079,0.019,0.159,0.026,0.239,0.037c0.074,0.01,0.147,0.024,0.221,0.027
	c0.097,0.004,0.194-0.006,0.292-0.014c0.055-0.005,0.109-0.003,0.163-0.012c0.323-0.048,0.641-0.16,0.933-0.346l34.305-21.865
	C131.967,94.755,132.296,93.271,131.583,92.152z" />
                <circle fill="none" stroke="#ffffff" stroke-width="5" stroke-miterlimit="10" cx="109.486" cy="104.353" r="32.53" />
      </svg>
                <h3 id='status'>
                    Success
                </h3>
            </div>
            <div id='lower-side'>
                <p id='message'>
                    The payment has been successful. Staff will call to confirm in a few minutes.
                </p>
                <a href="~/Home/Index" id="contBtn">Continue Shoping</a>
            </div>
        </div>
    </div>

</div>

@section scripts {
}